
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="row" *ngIf="!webView">
  <div class="container col">
    <div
    class="card  animate__animated animate__zoomIn"
    *ngFor="let new of news; trackBy: trackByNew">
      <figure class="card__thumb" >
        <img [src]="new.imagen" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title">{{new.titulo}}</h2>
          <p class="card__snippet">{{new.descripcion}}</p>
          <a (click)="verNoticia(new.url)" class="card__button">Leer mas</a>
          <a *ngIf="!comprobarNoticiaGuardada(new)" class="card__button" (click)="guardarNoticia(new)">Ver mas tarde</a>
          <a *ngIf="comprobarNoticiaGuardada(new)" class="card__button btn_guardada" href="dashboard">Guardada! :D</a>
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<app-webview [urlNew]="urlNew" *ngIf="webView"></app-webview>
<!-- [ngStyle]="{'background-image': 'url(' + new.imagen + ') '}" -->


<!-- <div class="row">
  <div *ngFor="let new of news" class="col-3">
    <div
    class="card shadow p-3 mb-5 bg-black rounded"
    style="border: 1px solid; height: 600px; padding-bottom:50px">
      <img
      [src]="new.imagen"
      class="card-img-top"
      [alt]="new.titulo"
      style="height: 350px; object-fit:cover;"
      >
      <div class="card-body">
        <h5 class="card-title">{{new.titulo}}</h5>
        <p class="card-text fifty-chars" >{{ new.descripcion }}</p>
      </div>
    </div>
  </div>
</div> -->

<!--
<div class="row el-element-overlay">
    ==============================================================
    List news. Repetir para cada noticia que nos de la API
     ==============================================================
    <div class="col-lg-3 col-md-6" *ngFor="let new of news">
      <a href="{{new.url}}">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <img src="{{new.imagen}}" alt="{{new.titulo}}" />
                </div>
                <div class="el-card-content">

                        <h3 class="box-title">{{new.titulo}}</h3>

                    <small>{{new.descripcion}}</small>
                </div>
            </div>
        </div>
      </a>
    </div>
   ==============================================================
     End List news
    ==============================================================
</div>
-->
