<div class="row el-element-overlay">
    <!-- ============================================================== -->
    <!-- List news. Repetir para cada noticia que nos de la API -->
    <!-- ============================================================== -->
    <div class="col-lg-3 col-md-6" *ngFor="let currentNew of dataNew">
        <div class="card">
            <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1"> 
                    <a href="#"><img src="{{currentNew.imagen}}" alt="{{currentNew.imagen}}" /></a> 
                </div>
                <div class="el-card-content">
                    <a href="{{currentNew.url}}">
                        <h3 class="box-title">{{currentNew.titulo}}</h3> 
                    </a>
                    <small>{{currentNew.descripcion}}</small>
                </div>
            </div>
        </div>
    </div>   
    <!-- ============================================================== -->
    <!-- End List news -->
    <!-- ============================================================== -->
</div>
