
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet">

<h2 *ngIf="!news[0]" class="animate__animated animate__fadeInDownBig">No hay noticias guardadas.</h2>
<button *ngIf="news[0]" class="btn btn-outline-dark" (click)="borrarNoticiasTodas()">Borrar todas</button>
<div class="row" *ngIf="!webView">
  <div class="container col">
    <div
    class="card animate__animated animate__zoomIn"
    *ngFor="let new of news">
      <figure class="card__thumb" >
        <img [src]="new.imagen" class="card__image">
        <figcaption class="card__caption">
          <h2 class="card__title">{{new.titulo}}</h2>
          <p class="card__snippet">{{new.descripcion}}</p>
          <a (click)="verNoticia(new.url)" class="card__button">Leer mas</a>
          <a (click)="borrarNoticia(news.indexOf(new))" class="card__button segundo_btn">Borrar</a>
        </figcaption>
      </figure>
    </div>

  </div>
</div>

<app-webview [urlNew]="urlNew" *ngIf="webView"></app-webview>
